
{% assign authorCount = include.authors | size %}
{% if authorCount == 0 %}
    No author
{% elsif authorCount == 1 %}
    {% assign author = include.authors | first %}
    {% include author_link.html author=author %}
{% else %}
    {% for author in include.authors %}
        {% if forloop.last %}
            and {% include author_link.html author=author %}
        {% else %}
        {% capture link %}
            {% include author_link.html author=author %} 
        {% endcapture %}
        {{ link | rstrip }},
        {% endif %}
    {% endfor %}
{% endif %}