---
layout: default
---

{% assign style_with_image="width: 49%; float: right;"%}
{% assign style_without_image="" %}


<div style="overflow: hidden; margin-bottom:2em; ">
  {% if page.image %}
  <div style="width: 49%; float: left">
  <img src="{{ page.imagedir | append: page.image | relative_url }}" alt="Photo of {{ page.title | downcase }}" width="100%" style="float: left; margin-right: 2em;">
  </div>
  <div style="{{ style_with_image }}">
  {% else %}
  <div style="{{ style_without_image }}">
  {% endif %}
    <h1>{{ page.title }}</h1>
      <div class="scientist-position {{ page.position | downcase }}">
        {{ page.position }}, {{ page.institute }}
      </div>

      {% if page.homepage %}
      <br>
      <div class="scientist-position {{ page.position | downcase }}">
        <a href="https://{{ page.homepage }}">Homepage: {{ page.homepage }}</a>
      </div>
      {% endif %}
      
    </div>
</div>

<div>
  {{ content }}
</div>